<footer class="site-footer">
  <div class="site-footer__inner">
    <div class="site-footer__content">
      <img class="site-footer__trumpet" src="{{ site.baseurl }}/assets/images/trumpet.png" alt="Gold trumpet silhouette" />
      <div class="site-footer__copy">
        <span class="site-footer__rule" aria-hidden="true"></span>
        <a class="site-footer__brand" href="{{ site.baseurl }}/">
          HIST 396-06 The History of Popular Music in the United States, 1830-1940
        </a>
        <p class="site-footer__credit">
          Produced by a history course at the
          <a href="https://www.unm.edu">University of New Mexico</a>, taught by
          Karen Leong, in collaboration with the
          <a class="site-footer__amaranth" href="https://amaranth.unm.edu">Amaranth Digital Humanities Studio</a>,
          using the
          <a href="https://xanthan-web.github.io/">Xanthan web framework</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
